<table cellspacing="0" cellpadding="0" align='center'>
    <tr>
        <td align='center'>
            <table cellspacing="0" cellpadding="0" cellspacing="0" cellpadding="0" align='center'>
                <tr>
                    <td>
                        Możesz obejrzeć swoje zamówienie na stronie <a href="{history_url}">Historia zamówień</a> logując się na swoje konto Klienta za pomocą strony <a href="{my_account_url}">Moje konto</a> w naszym sklepie.
                        Jeśli posiadasz konto Gościa, możesz śledzić swoje zamówienie w sekcji <a href="{guest_tracking_url}?id_order={order_name}">Śledzenie zamówienia</a> .
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>