<table cellspacing="0" cellpadding="0" align='center'>
    <tr>
        <td align='center'>
             
            <table cellspacing="0" cellpadding="0" align='center'>
                <tr>
                    <td> 
                       <img src="" alt="{shop_name}" />
                    </td>
                </tr> 
            </table>

            <table cellspacing="0" cellpadding="0" align='center'>
                <tr>
                    <td>
                        {{-- VARIABLE --}}
                    </td>
                </tr>
            </table>

            <table cellspacing="0" cellpadding="0" align='center'>
                <tr>
                    <td>
                        {{-- VARIABLE --}}
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>